.container
	.custom-accordion
		.accordion-card
			button.accordion-card__btn(data-state="show") CLICK
			article.accordion-card__content.show
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ratione. Eius, natus adipisci, repellendus ullam dicta nisi maxime beatae excepturi aperiam velit laborum nam unde ea illum dolorum, itaque distinctio.
		.accordion-card
			button.accordion-card__btn(data-state="hide") CLICK
			article.accordion-card__content
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ratione. Eius, natus adipisci, repellendus ullam dicta nisi maxime beatae excepturi aperiam velit laborum nam unde ea illum dolorum, itaque distinctio.