.container
	.custom-tabs
		.custom-tabs__nav
			button.tabs__nav-item.active(data-tab="1") TAB1
			
			button.tabs__nav-item(data-tab="2") TAB2
			
		.custom-tabs__content
			.custom-tab__box.custom-tab__one.active(data-content="1")
				p Content 1
			
			
			.custom-tab__box.custom-tab__two(data-content="2")
				p Content 2
			