.account-info__list{
	ul{
		li{
			display: flex;
			padding-bottom: 10px;
			border-bottom: 1px solid@inputBB;
			&+li{
				margin-top: 23px;
			}
		}
		li p:first-child{
			font-size: 14px;
			line-height: 17px;
			color: @pr;
			font-family: @mainFontBold;
			font-weight: 700;
			width: 40%;
		}
		li p:last-child{
			font-size: 16px;
			line-height: 19.5px;
			color: @pr;
			font-family: @mainFont;
			text-align: right;
			width: 52%;
		}
	}
}