mixin table-row
	tr
		td 1.
		td Наименование товара, описание/размер
		td 1
		td 250 руб
		td 250 руб

section.account-info.lk-frame
	.container
		.account-info__content
			.btn-link
				a(href="#!") Выход
			.account-info__tabs.custom-tabs
				.custom-tabs__nav
					button.tabs__nav-item.active(data-tab="1") Личный кабинет
					button.tabs__nav-item(data-tab="2") История заказов
					
				.custom-tabs__content
					.custom-tab__box.custom-tab__one.active(data-content="1")
						.row
							.col-xl-6
								+info-list([{text1: 'Имя', text2: 'Константин Константинопольский'}, {text1: 'Номер телефона:', text2: '+7 999 888 77 66'}, {text1: 'E-mail:', text2: 'name@gmail.com'},{text1: 'Адрес доставки:', text2: 'ул. Комсомольская, д. 28/4, кв. 552 Подъезд 3, Этаж 12'}])
								.form-item.form-item--btn.form-item--btn-short
									a(href="edit-profile.html") Редактировать
							.col-xl-6
								.account-info__reward
									.form-badge__group
										p Бонусы:
										+form-badge('2920')
									.form-badge__group
										p Уровень:
										+form-badge('3(10%)')
									.form-badge__group
										p Заказов:
										+form-badge('63')
					.custom-tab__box.custom-tab__two(data-content="2")
						.order-history
							.row
								.col-xl-6
									.order-history-table
										h3.section-title История:
										.custom-accordion
											.accordion-card
												button.accordion-card__btn(data-state="show") Заказ № 2007/640 от 21.07.2020 10:23:37 1500 руб.
													.accordion-card-icon.rotate &larr;
												article.accordion-card__content.show
													table
														+table-row
														+table-row
														+table-row
											.accordion-card
												button.accordion-card__btn(data-state="hide") Заказ № 2007/640 от 21.07.2020 10:23:37 1500 руб.
													.accordion-card-icon &larr;
												article.accordion-card__content
													table
														+table-row
														+table-row
														+table-row
											.accordion-card
												button.accordion-card__btn(data-state="hide") Заказ № 2007/640 от 21.07.2020 10:23:37 1500 руб.
													.accordion-card-icon &larr;
												article.accordion-card__content
													table
														+table-row
														+table-row
														+table-row
											.accordion-card
												button.accordion-card__btn(data-state="hide") Заказ № 2007/640 от 21.07.2020 10:23:37 1500 руб.
													.accordion-card-icon &larr;
												article.accordion-card__content
													table
														+table-row
														+table-row
														+table-row
								.col-xl-6
									.order-history-last
										h3.section-title Последний заказ:
										.order-last__content
											.order-last__head
												p Заказ № 2007/640 от 21.07.2020
											.order-last__list
												+info-list([{text1: 'Адрес доставки', text2: 'ул. Комсомольская, д. 28/4, кв. 552 Подъезд 3, Этаж 12'}, {text1: 'Способ оплаты::', text2: 'Наличными'}, {text1: 'E-mail:', text2: 'name@gmail.com'},{text1: 'Адрес доставки', text2: 'ул. Комсомольская, д. 28/4, кв. 552 Подъезд 3, Этаж 12'}])