//form input
mixin form-item(lbl, pld, typ='text', addClass, err)
	.form-item&attributes(attributes)
		span.form-item__label #{lbl}
		div(class=" "+ addClass)
			.error-icon
			input(type=" "+ typ name="" placeholder=" "+ pld)
			if err
				p.error-message !{err}
//form badge
mixin form-badge(text)
	.form-badge #{text}